<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button routerLink="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/coupons">
      <ion-icon name="pricetags-outline"></ion-icon>
      <ion-label>Cupones</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/points">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>Puntos</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/map">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>