.register-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  --padding-top: 0;
  --padding-bottom: 0;
}

.register-wrapper {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.register-wrapper ion-item {
  margin-bottom: 15px;
}

.error-msg {
  color: red;
  text-align: center;
  margin-top: 10px;
}