ion-header {
  --background: #3880ff;
  color: white;
}

ion-toolbar {
  --background: #3880ff;
  color: white;
}

ion-item {
  margin-bottom: 8px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

p {
  font-size: 14px;
  margin: 2px 0;
}